@font-face {
     font-family: Sentinel-Bold;
     src: url(../fonts/Sentinel/Sentinel-Bold.woff);
}
@font-face {
     font-family: Sentinel-Medium;
     src: url(../fonts/Sentinel/Sentinel-Medium.woff);
}

@font-face {
     font-family: Sentinel-Book;
     src: url(../fonts/Sentinel/Sentinel-Book.woff);
}
@font-face {
     font-family: Sentinel-BookItalic;
     src: url(../fonts/Sentinel/Sentinel-BookItalic.woff);
}

@font-face {
     font-family: Sentinel-Light;
     src: url(../fonts/Sentinel/Sentinel-Light.woff);
}
@font-face {
     font-family: Sentinel-LightItalic;
     src: url(../fonts/Sentinel/Sentinel-LightItalic.woff);
}



html,body{

  height: 100%;

  text-align: center;

  background: #fff;

  color: #fff;

  position: relative;


}



body{

  display: flex;

  align-items: center;

  justify-content: center;
  
  height: 100%;

  width: 100%;

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;


justify-content: center;
flex-direction:column;

}

.content-container{

    display: flex;
    flex-direction: column;

    position: absolute;
z-index: 2;
bottom: 0;
}

.title {

 background:  url("../images/logo-hazel.svg")  center center no-repeat ;
 display: block;

 height: 20vh;
 
 -webkit-background-size: 20vh;
    -moz-background-size: 20vh;
    -o-background-size: 20vh;
    background-size: 20vh;

/*position: absolute;
z-index: 2;*/

filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.5));

}


.desc {

float: left;
display: block;

/*position: absolute;
z-index: 2; */

bottom:0;
margin-bottom: 10vh;

font-size: 1.5em;
line-height: 2.8rem;


filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.5));


}

.desc a{
color: #fff;
text-decoration: underline;
}

.desc .italic{

font-family: Sentinel-LightItalic;
}

.desc .normal{
 
font-family: Sentinel-Medium;
}





 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}


.backgroundimg {

    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

}

#back1 {
    background: url("../images/bg1.jpg") no-repeat top center fixed;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#back2 {
    background: url("../images/bg2.jpg") no-repeat top center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#back3 {
    background: url("../images/bg3.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#back4 {
    background: url("../images/bg4.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#back5 {
    background: url("../images/bg5.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

@keyframes backgroundchangeFadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes backgroundchangeFadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
#backgroundchange div:nth-of-type(1) {
  animation-delay: 12s;
  -webkit-animation-delay: 12s;
}
#backgroundchange div:nth-of-type(2) {
  animation-delay: 9s;
  -webkit-animation-delay: 9s;
}
#backgroundchange div:nth-of-type(3) {
  animation-delay: 6s;
  -webkit-animation-delay: 6s;
}
#backgroundchange div:nth-of-type(4) {
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
}

#backgroundchange div:nth-of-type(5) {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

#backgroundchange div {
animation-name: backgroundchangeFadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 16s;

-webkit-animation-name: backgroundchangeFadeInOut;
-webkit-animation-timing-function: ease-in-out;
-webkit-animation-iteration-count: infinite;
-webkit-animation-duration: 16s;

}










/* Fade-in */



/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }



.fade-in {

  opacity:0;  /* make things invisible upon start */

  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

  -moz-animation:fadeIn ease-in 1;

  animation:fadeIn ease-in 1;



  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

  -moz-animation-fill-mode:forwards;

  animation-fill-mode:forwards;



  -webkit-animation-duration:2s;

  -moz-animation-duration:2s;

  animation-duration:2s;

}




@media (min-width: 1200px) 
{
.mobile-only-br{display:none}
 }/* min-width: 1200px */



 @media (max-width: 1200px) {

  }/* max-width: 1200px */


 @media (max-width: 992px) /* max-width: 992px */
 {

}/* max-width: 992px */

 @media (max-width: 768px) /* max-width: 768px */
 {


/*.title {

 width: 35rem;
 height: 25rem;
 
 -webkit-background-size: 25rem;
    -moz-background-size: 25rem;
    -o-background-size: 25rem;
    background-size: 25rem;

 margin-top: 35rem;

*/
    

        #back1 {
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;}
        #back2 {
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;}
        #back3 {b
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;}
        #back4 {
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;}
        #back5 {
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;}




}


}/* max-width: 768px */

